/* body{
    background-color: rgb(173, 246, 246);
} */

.navbar{
    height : 5rem;
    background-color: white;
}
.fa-scroll-torah{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important ;
}


/* footer */

 .f-info-links a{
    text-decoration: none;
    color: #222222;
    padding: 0.5rem;
 }

 .f-info-links a:hover{
    text-decoration: underline;
 }

 .f-info-links , .f-info-socials , .f-info-brand{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

 .f-info{
    text-align: center ;
    height: 8rem;
    display: flex;
    background-color: rgb(218, 213, 213);
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
 }